main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20vh;
  align-items: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20vh;

  h2 {
    font-size: clamp(2.5rem, 6vw, 6rem);
    line-height: 1;
    margin: 0;
    color: var(--text-h);
    width: 60%;
  }
  p {
    font-size: clamp(0.85rem, 0.85vw + 0.5rem, 3rem);
    font-weight: bold;
    margin: 0;
  }
}

.mainbtnContainer {
  display: flex;
  gap: 1rem;
  width: 50vw;
  margin-top: 10vh;

  .mainBtn {
    flex: 1;

    color: var(--btn-color);
    font-size: clamp(1rem, 1.5vw, 3rem);
    padding: 1.5rem 2rem;
    background-color: var(--text-h);
    border-radius: 0.5rem;
    border: 2px solid white;
    transition: all 0.5s ease-in;
  }
}

.mainBtn:hover {
  color: #000;
  background-color: var(--bg);
  border-color: #000;
  transform: scale(1.02);
}
.featuresContainer {
  display: grid;
  width: 70vw;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1rem;

  .featuresCard {
    box-shadow: var(--shadow);
    width: 80%;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.5s ease-in;

    h3 {
      color: var(--text-h);
    }
    p {
      text-align: center;
      width: 80%;
      font-size: clamp(0.85rem, 0.5vw + 0.6rem, 3rem);
    }
  }
}
.featuresCard:hover {
  transform: scale(1.02);
}

footer {
  height: 30vh;
  border-top: 1px solid rgb(0, 0, 0, 0.25);
  margin-top: 10vh;
  background-color: var(--text-h);
  font-size: clamp(1rem, 1.2vw, 3rem);
  padding: 2rem;

  position: static;

  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .heroSection {
    gap: 1rem;
    h2 {
      width: 100%;
    }
    p {
      width: 70%;
    }
  }
  .mainbtnContainer {
    width: 70vw;
  }
}
