:root {
  --text: #666;
  --text-h: #000;
  --bg: #e3e2e2;
  --border: #e5e4e7;
  --btn-color: #fff;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.25) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 0.1s ease-in;
}
button:active {
  transform: translateY(5px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.5rem, 1rem + 1vw, 3rem);
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  color: var(--text-h);
  background-color: rgb(227, 226, 226, 0.8);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .headerBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h1 {
    font-size: clamp(1.5rem, 2vw + 1.5rem, 6rem);
  }
}
.navBtn {
  color: var(--btn-color);
  font-size: clamp(1rem, 1vw, 3rem);
  padding: clamp(0.5rem, 1vw + 0.5rem, 1rem) clamp(1rem, 2vw + 0.5rem, 3rem);
  background-color: var(--text-h);
  border-radius: 0.5rem;
  font-weight: 700;

  border: 2px solid #fff;
  transition: all 0.5s ease-in;
}
.navBtn:hover {
  color: #000;
  background-color: var(--bg);
  border-color: #000;
  transform: scale(1.05);
}
.navBtn.active {
  color: #000;
  background-color: var(--bg);
  border-color: #000;
}
.cartAnchor {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.cartCounter {
  position: absolute;
  top: -8px;
  right: -8px;

  min-width: 2rem;
  min-height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e53935;
  color: #fff;
  font-size: 1rem;
  line-height: 1;

  border-radius: 50%;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
